/********** GENERAL CSS **********/
body {
	margin:0;
	background-image: url("../img/curtain.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size:100% 100%;
	height:100%;
}

#content {
	position: absolute;
	overflow-y: auto;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
    height: 100%;
    padding-top:15px;
}

#scrollContainer {
	position: absolute;
    bottom:0px;
    top:130px;
    left:0px;
    right: 0px;    
}

/*#main {
    width: 65%;
    position: absolute;
    left: 50%;
    margin-left: -32.5%;
    background-color: black;
    padding:15px 0;
} */

#darkDiv {
	background-color:black;
	opacity: 0.7;
    width:100%;
    height:100%;
    z-index:5;
    position:absolute;
}

#loadingDiv {
	background-color:black;
    width:100%;
    height:100%;
    z-index:7;
    position:absolute;
    color:#AAAAAA;
    font-size:50px;
}

#loadingDiv section {
	position:absolute;
    text-align:center;
	top:40%;
	width:100%;
    font-family: "Monoton", cursive;
}

#loadingDiv i {
	font-size:100px;
}

.hidden {
    display:none;
}

#closePopUpDiv {
    position: relative;
    top: -20px;
    right: -20px;
}

.closePopUp {
    font-size: 20px!important;
    float: right;
    padding: 6px 8px;
    cursor: pointer;
    margin: 5px;
    background-color: black;
    border-radius: 100%;
    border: 4px solid white;
    box-shadow: 0px 0px 10px 5px #000;
    color: white;
}

img {
    max-width: 100%;
    max-height: 100%;
    cursor:pointer;
}

div[data-movieId] {
	height: 400px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: 10px solid rgba(255,0,0,0.4);
    box-shadow: 0 0 25px 10px black;
    border-radius:20px;
}

div.hoverDiv {
    background: rgba(0, 0, 0, 0.8);
    display:none;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0px;
    text-align:center;
    padding:10px;
}

div.hoverDiv span {
    color: #AAAAAA;
    font-size: 30px;
    font-family: 'Special Elite', cursive;
    position:relative;
    top:10%;
}

div.hoverDiv i {
	text-align:center;
	width:75%;
    background: rgba(170, 170, 170, 1);
    font-size: 30px;
    border-radius:5px;
    padding:10px 0;
    position: absolute;
    bottom: 15%;
    left: 12.5%;
    cursor:pointer;
}

div.hoverDiv i:hover {
    box-shadow: 0 0 7px 7px #AAAAAA;
}

.watchedIcon {
	display:inline;
	position:absolute;
	bottom:10px;
	right:10px;
}

.watchedIcon i {
	background-color:green;
	color:white;
	border-radius:100%;
	padding:7px;
    box-shadow: 2px 2px 5px black;
    border:2px solid white;
}

/********** HEADER CSS **********/
.movieReelBorder {
	background-image: url("../img/movieReel.png");
	height:15px;
}

.col-lg-1 {
	background-color: black;
	background-size:100% 100%;
	height:100px;
	border:2px solid #787878;
	text-align:center;
	line-height: 90px;
	font-family: 'Monoton', cursive;
	font-size: 70px;
	color:#AAAAAA;
    border-radius:15px;
}

.movieReel.container-fluid {
	padding:0;
	background:#787878;
	z-index: 1;
}

.movieReel i {
	font-size:50px;
	cursor: pointer;
}

/********** NEW MOVIE CSS **********/
#newMovieDiv {
	position:absolute;
	width:60%;
	margin-left:-30%;
    z-index:10;
    left:50%;
	top: 10%;
    height: 65%;
}

#newMovieHeader {
	background-image: url("../img/clapboard.jpg");
	background-size:100% 100%;
	width:100%;
	height:150px;
}

#newMovieBody {
	font-family: 'Special Elite', cursive;
	background-image: url("../img/clapboardBackground.png");
	background-size:100% 100%;
	height:100%;
    width: 97%;
    position: absolute;
    left: 15px;
    border-bottom-right-radius:70px;
    border: 1px solid #AAAAAA;
    border-top: none;
    padding:20px;
    overflow-y: auto;
    overflow-x: hidden;
}

#titleDiv {	
	border-bottom:2px solid white;
    width: 100%;
    position: relative;
}

#newMovieBody label {
	color:white;
	font-size:25px;
    margin-right:50px;
    margin-top: 10px;
}

#newMovieBody label[for="movieTitle"] {
	position: relative;
    top: -100px;
}

#newMovieBody label span {
	color:red;
}

#newMovieBody option{
	background:black;
}

#newMovieBody textarea,
#newMovieBody input,
#newMovieBody select {
	background-color:transparent;
	color:white;
	border:none;
}

#newMovieBody textarea:focus,
#newMovieBody input:focus,
#newMovieBody select:focus {
	outline:0;
}

#movieTitle {
	font-size:70px;
	resize:none;
	width:85%;	
}

#directorDiv {
	border-bottom:2px solid white;
    width: 100%;
    position: relative;
    padding:15px 0;
}

#director {
	width:80%;
	font-size:40px;
}

#otherDetails{
	padding:0;
	width:100%;
}

#genre {
    font-size: 30px;
    margin-top: 30px;
}

#middleBox {
	border-left:2px solid white;
	border-right:2px solid white;
}

#year, #rating{
	font-size: 100px;
    width: 100%;    
}

#year {
	margin-left: 20px;
}

#rating {
	margin-left:70px;
}

#watchedDiv{
	margin-top:20px;
}

#watched {
	display:inline-block;
    width:45px;
    height:45px;
    margin:-1px 4px 0 0;
    vertical-align:top;
    cursor:pointer;
    color:white;
    background:black;
}

#saveMovie {
	font-size: 25px!important;
    background-color: black;
    border-radius: 15px;
    border: 4px solid white;
    box-shadow: 0px 0px 7px #000;
    color: white;
    text-shadow: 2px 4px 4px #000;
    cursor:pointer;
    font-family: 'Special Elite', cursive;
    padding:10px;
    float:right;
    text-decoration: none;
}

#saveMovie i {
	padding-right:10px;
}

/***** MOVIE DETAILS CSS *****/
#movieDetailsDiv {
    background-color:black;
    width:100%;
    height:100%;
    z-index:5;
    position:absolute;
    display:none;
}

#movieDetailsDiv i {
    color: black;
    background-color: #AAAAAA;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 25px;
    cursor: pointer;
}

#movieDetailsDiv i:hover{
    box-shadow: 0 0 5px 5px #AAAAAA;
}

#detailsLeft {
    position: absolute;
    width: 40%;
    height: 100%;
    display:inline-block;
    left:0;
}

#detailsLeft img {
    vertical-align: bottom;
    border: 20px ridge white;
    height: 80%;
    width: 80%;
    top: 10%;
    position: absolute;
    display:none;
    text-align:center;
    left: 50%;
    margin-left: -40%;
}

#detailsLeft i {
    margin: 20px 0 0 20px;
    cursor: pointer;
    display:none;
    position:absolute;
}

#detailsRight i {    
    margin-right: 50px;
}

#detailsRight {
    position:absolute;
    width:60%;
    height:100%;
    display:inline-block;
    right:0;
    color:white;
    font-family:'Special Elite';
    text-align:center;
    max-height: 100%;
    overflow: auto;
}

#detailsRightContent {
    position: relative;
    top: 10%;
}

#detailsRightContent div {
    display: none;
    padding-bottom: 50px;
}

#detailsRightContent div label {
    color:white;
    font-size:25px;
    margin-right:30px;
    margin-top: 10px;
}

#titleSpan {
    font-size:80px;
}

#yearSpan {
    font-size:35px;
}

#directedBySpan {
    font-size:30px;
}

#directorSpan {
    font-size:55px;
}

#genreSpan {
    padding-right:180px;
    font-size:40px;
}

#imdbRatingSpan {
    font-size:40px;
}

#watchedSpan {
    padding-right:50px;
}

#watchedDetails, #loanedOut{
    display:inline-block;
    width:45px;
    height:45px;
    margin:-1px 4px 0 0;
    vertical-align:top;
    cursor:pointer;
    color:white;
    background:black;
}

#loanedTo {
    background-color:transparent;
    color:white;
    border:none;
    font-size:25px;
}

#loanedTo:focus {
    outline:0;
}

#updateMovieDiv {
    text-align: right;
}